@page "/"
@using BlazorParallax.Models

<h1>Cameras</h1>

<table class="table">
    <thead>
        <tr>
            <th>Manufacturer</th>
            <th>Model</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var camera in cameras)
        {
            <tr>
                <td>@camera.Manufacturer</td>
                <td>@camera.CameraModel</td>
            </tr>
        }
    </tbody>
</table>

@functions{
    private List<Camera> cameras;

    protected override Task OnInitAsync()
    {
        cameras = new List<Camera>();
        return base.OnInitAsync();
    }
}